#commentary
  & .user-info
    width: $width
    height: 35px
    & .head-sculpture
      position: relative
      top: 13px
    & .nickname
      position: relative
      top: -39px
    & .level
      position: relative
      top: -16px
      left: -47px
    & .user-addr
      position: relative
      top: -21px
      left: -30px
    & .floor
      position: relative
      top: -39px
  & .comment
    margin: 28px 10px 0px 50px
    line-height: 22px
    font-size: 16px
  & .comment-img
    margin-top: 15px
    text-align: center
    img
      width: 100%

  & .user-info-host
    height: auto
    & .nickname
      position: relative
      top: -54px
    & .role
      position: relative
      top: -52px
    & .floor
      position: relative
      top: -54px
    & .user-addr
      position: relative
      top: -37px
      left: -60px
    & .level
      position: relative
      top: -16px
      left: -47px
  & .host-comment
    @extend .comment
    margin-top: -27px