@import "variable"

.delete-user-info
  margin-top: 0px
  width: $width
  height: 35px
  margin-bottom: 0px
  & .head-sculpture
    margin-top: 16px
    filter: grayscale(1)
    -webkit-filter: grayscale(1)
    -moz-filter: grayscale(1)
    -o-filter: grayscale(1)
    -ms-filter: grayscale(1)
  & .delete-user-comment
    margin: -43px 0px 0px 50px
    font-size: 14px
    color: gray
  & .floor
    position: relative
    top: -42px

.level-line
  margin: 15px 10px 9px 50px
