#discovery
  background-color: rgb(232,232,232)
  padding: 0
  margin: auto
  border-radius: 3px
h2
  margin: auto
  width: 286px
  padding: 8px 17px 10px
  font-size: 14px
  font-weight: normal
  color: rgb(179,179,179)
.discovery-box
  width: 302px
  background-color: #ffffff
  margin: auto
  padding-top: 0
  border-bottom: 1px solid rgb(233,233,235)
  img
    width: 290px
    height: 128px
    padding: 8px 6px 0
    border-radius: 3px

.find-name
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-size: 14px
  padding: 7px 9px 0
.find-place-price
  padding: 8px 0 10px 9px
.location
  margin-left: 0
  font-size: 12px
  color: rgb(205,205,205)
  i
    font-size: 12px
.pr-price
  float: right
  margin-right: 7px
.price
  font-weight: bold
  font-size: 14px
  color: rgb(252,150,187)
.pre-price
  color: rgb(205,205,205)
  font-size: 7px
  font-weight: normal
  text-decoration: line-through